.nav-link{
    color: white;
}
.nav-container{
    position: relative;
    top: 65px;
    margin-top: -88px;
    z-index: 2;
    background-color: transparent;
}
.shadow-title{
    text-shadow: 2px 2px black;

}
.shadow-title2{
    text-shadow: 2px 2px white;

}

.accountEmail{
    display: flex;
    justify-content: flex-end;
    width: 100vw;
    color: white;
    background-color: black;
    margin-left: -15px;
}
.firstParagraph{
    margin-top: -60px;
    font-weight: bold;
    line-height: 60px;
    font-size: 30px;
}
.bg-img{
    background-image: url("https://images.pexels.com/photos/1450353/pexels-photo-1450353.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
    background-size: cover; 
     width:100%;
}
.bg-image-browser{
      /* background-image: url("https://images.unsplash.com/photo-1609408341205-861253559a83?auto=format&fit=crop&q=80&w=3174&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D") ;
       */
       background-image: url("https://images.unsplash.com/photo-1528824036966-36325e3140fa?auto=format&fit=crop&q=80&w=2940&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
      background-size:cover; 
      max-width: 100%; 
      /* opacity: 88%; */
      border-bottom: 20px solid black;
}

.blue-color{
    color: rgb(36, 94, 165);
}
.main-content{
  padding-top:90px;
}

.padding-hero{
    padding-bottom: 200px;
    padding-top: 80px;
    border-bottom: 2px solid white;
}
.hero-picture{
    border-radius: 5%;
    border:1px solid white;
    box-shadow: black 5px 1px 2px 2px;
}
.text-black{
    color: black;
    
}



/* login css starts*/
.login{  
    display: none; 
    position: fixed;
    top: 20%;
    left: 23%;
    right: 20%;
    margin-left: auto; 
    margin-right: auto; 
}
.card{
    margin-bottom:20px;
    border:none;
    width: 50vw;
}

.box {
    width: 50vw;
    background: #191919;
    text-align: center;

    border: 2px solid black;
    padding-bottom: 40px;
}

.box input[type="text"],
.box input[type="password"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 10px 10px;
    width: 250px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
}

.box h1 {
    color: white;
    text-transform: uppercase;
    font-weight: 500;
}

.box input[type="text"]:focus,
.box input[type="password"]:focus {
    width: 300px;
    border-color: #2ecc71;
}

.box input[type="submit"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}

.box input[type="submit"]:hover {
    background: #2ecc71;
}

.cursor-pointer {
    cursor: pointer;
  }
/* login css ends*/


.flightsTableTitles{
    background: linear-gradient(to bottom, #f0f0f0 0%, #716f6f 50%, #2f2f2f 100%); 
    text-align: center;
    color:black;
    text-shadow: white;
}

.flightsTableFlight1{
    text-align: center;
    color:white;
    text-shadow: black;
    background: linear-gradient(to right, #f0f0f0 0%, #716f6f 0%, #2f2f2f 100%); 
}
.flightsTableFlight2{
    text-align: center;
    color:white;
    text-shadow: black;
    background: linear-gradient(to right, #2f2f2f 0%, #716f6f 100%); 
}
.flightsTableFlight3{
    text-align: center;
    color:white;
    text-shadow: black;
    background: linear-gradient(to right, #716f6f  0%, #2f2f2f 100%); 
}
.flightsTableFlight4{
    text-align: center;
    color:white;
    text-shadow: black;
    background: linear-gradient(to right, #2f2f2f 0%, #716f6f 100%); 
}
.flightsTableFlight5{
    text-align: center;
    color:white;
    text-shadow: black;
    background: linear-gradient(to right, #716f6f  0%, #2f2f2f 100%); 
}









/* uploading form start */

.wrapper {
    width: 50vw;
    background: #FFF;
    border-radius: 10px;
    box-shadow: 0 25px 70px rgba(0, 0, 0, .05);
    overflow: hidden;
    position: absolute;
    top: -50%;
    left: 10%;
    right: 10%;
    margin-left: auto; 
    margin-right: auto; 
    z-index: 2;
}

h1.title {
    padding: 15px 0;
    margin-left: 25px;
    font-weight: normal;
    color: rgb(36, 94, 165);
}

.form {
    width: 700px;
}

.myform {
    background: #F4F5F7;
    padding: 25px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 25px
}

.myform label {
    display: block; 
    color: #A8AAC5;
    font-weight: bold;
    font-size: .8rem;
    margin-bottom: 10px;
}

.myform input {
    border: 0;
    outline: 0;
    height: 50px;
    background: #FFF;
    width: 100%;
    border-radius: 5px;
    color: rgb(36, 94, 165);
    font-weight: 700;
    font-size: .9rem;
    text-indent: 15px;
    border: 2px solid transparent;
    transition: border 250ms;
}

.full-width {
    grid-column: -1 / 1
}

.button {
    grid-column: -1 / 1;
    display: flex;
    justify-content: center;
}

.button button {
    border: 0;
    outline: 0;
    width: 120px;
    height: 50px;
    border-radius: 50px;
    color: #FFF;
    font-weight: bold;
    font-size: .9rem;
    cursor: pointer;
    background: linear-gradient(356deg, rgb(36, 94, 165) 0%, rgb(36, 94, 165) 100%);
}

.button button:hover {
    background: rgba(57, 50, 173, 1);
}

#upload-display{
    display: none;
}

#firstName1,#firstName2,#firstName3,#firstName4{
    width:15vw;
    display: inline;
}
#lastName1,#lastName2,#lastName3,#lastName4{
    width:15vw;
    display: inline;
}
#crewdiv1, #crewdiv2, #crewdiv3, #crewdiv4{
    display: flex;
    flex-direction: row;
    margin-top:10px;

}
/* uploading form ends */ 


/* search starts */
.checkboxes{
    width:100%;
    display: flex;
    justify-content: space-around;
    /* border: 1px solid gray; */
    border-radius: 2%;
    background-color: black;
    color:white;
}
.filter{
    width:100%;
    display: flex;
    justify-content: flex-start;
    background: linear-gradient(to bottom,#878686, #0d0d0d );
    color: white;
    padding-left: 10px;
}
.iconBorder{
    border: 1px solid gray;
}

#displayDestination, #displayFlight, #displayDate{
    display: none;
    background: linear-gradient(to bottom, #0d0d0d, #878686);
    color: white;
}
#displayDestination::placeholder, #displayFlight::placeholder{
    color:white;
}
.search-container {
    background: linear-gradient(to bottom, #fbfafa, #0a0a0a);
    padding: 30px;
    /* border: 2px solid black; */
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 800px;
    margin: 0 auto;
    position: relative;
    top: 30%;
    transform: translateY(-30%);
}
/* search ends */

.table-section{
    /* background-color: rgb(176, 222, 246);
    margin-top: -50px;
    padding-top: 20px;
    border: 2px solid black; */
    background: linear-gradient(to bottom, #0d0d0d, #878686);
    margin-top: -50px;
    padding-top: 20px;
    border-top: 2px solid black;
    padding-bottom: 200px;
}