.nav-container{
    position: relative;
    top: 90px;
    margin-top: -88px;
    z-index: 2;
    background-color: transparent;
}
.nav-link{
    color: white;
}
.firstParagraph{
    margin-top: -60px;
    font-weight: bold;
    line-height: 60px;
    font-size: 30px;
}
.bg-img{
    background-image: url("https://images.unsplash.com/photo-1609408341205-861253559a83?auto=format&fit=crop&q=80&w=3174&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D") ;
    background-size: cover;
    width:100%;
}
.blue-color{
    color: rgb(36, 94, 165);
}
.main-content{
  padding-top:90px;
}

.padding-hero{
    padding-bottom: 130px;
    padding-top: 80px;
    border-bottom: 2px solid white;
}
.hero-picture{
    border-radius: 10%;
    border:1px solid white;
    box-shadow: black 5px 1px 2px 2px;
}
.text-black{
    color: black;
    
}



/* login css starts*/
.login{  
    display: none; 
    position: fixed;
    top: 20%;
    left: 23%;
    right: 20%;
    margin-left: auto; 
    margin-right: auto; 
}
.card{
    margin-bottom:20px;
    border:none;
    width: 50vw;
}

.box {
    width: 50vw;
    background: #191919;
    text-align: center;

    border: 2px solid black;
    padding-bottom: 40px;
}

.box input[type="text"],
.box input[type="password"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 10px 10px;
    width: 250px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s
}

.box h1 {
    color: white;
    text-transform: uppercase;
    font-weight: 500
}

.box input[type="text"]:focus,
.box input[type="password"]:focus {
    width: 300px;
    border-color: #2ecc71
}

.box input[type="submit"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer
}

.box input[type="submit"]:hover {
    background: #2ecc71
}

.cursor-pointer {
    cursor: pointer;
  }
/* login css ends*/


.flightsTable{
    text-align: center;
    background-color: red;
    border-collapse: collapse;
}

/* uploading form start */
html,
body {
    margin: 0;
    padding: 0;
}


body {
    width: 100vw;
    height: 100vh;
    font-family: 'Open sans';
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: black;
}

body>* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

.wrapper {
    width: 700px;
    background: #FFF;
    border-radius: 10px;
    box-shadow: 0 25px 70px rgba(0, 0, 0, .05);
    overflow: hidden;
}

h1.title {
    padding: 15px 0;
    margin-left: 25px;
    font-weight: normal;
    color: rgb(36, 94, 165);
}

.form {
    width: 700px;
}

.myform {
    background: #F4F5F7;
    padding: 25px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 25px
}

.myform label {
    display: block;
    color: #A8AAC5;
    font-weight: bold;
    font-size: .8rem;
    margin-bottom: 10px;
}

.myform input {
    border: 0;
    outline: 0;
    height: 50px;
    background: #FFF;
    width: 100%;
    border-radius: 5px;
    color: rgb(36, 94, 165);
    font-weight: 700;
    font-size: .9rem;
    text-indent: 15px;
    border: 2px solid transparent;
    transition: border 250ms;
}

.full-width {
    grid-column: -1 / 1
}

.button {
    grid-column: -1 / 1;
    display: flex;
    justify-content: center;
}

.button button {
    border: 0;
    outline: 0;
    width: 120px;
    height: 50px;
    border-radius: 50px;
    color: #FFF;
    font-weight: bold;
    font-size: .9rem;
    cursor: pointer;
    background: linear-gradient(356deg, rgb(36, 94, 165) 0%, rgb(36, 94, 165) 100%);
}

.button button:hover {
    background: rgba(57, 50, 173, 1);
}
/* uploading form ends */